# Environment variables for own authentication
NEXTAUTH_SECRET="your_secret_here"
NEXTAUTH_URL="http://localhost:3000"

#####################################################
###################### DIDIT ########################
#####################################################

# credentials obtained on https://business.staging.didit.me (remove staging for production)
NEXT_PUBLIC_DIDIT_CLIENT_ID="CLIENT_ID"
CLIENT_SECRET="CLIENT_SECRET"
WEBHOOK_SECRET="WEBHOOK_SECRET_RETRIEVED_ON_BUSINESS_PORTAL"

# for authentication to didit auth
NEXT_PUBLIC_DIDIT_AUTH_BASE_URL=https://apx.staging.didit.me/auth # remove staging for production

# scopes and claims so user can give consent to user identity data (Can be empty)
NEXT_PUBLIC_DIDIT_CLAIMS="read:names read:languages read:preferences read:email read:phone read:gender read:birthdate read:username read:picture read:wallet_addresses"
NEXT_PUBLIC_DIDIT_SCOPE="openid"

# to retrieve the user data granted by the user
NEXT_PUBLIC_INTROSPECT="https://apx.staging.didit.me/auth/v2/introspect/" # use this endpoint to check access token validity
NEXT_PUBLIC_RETRIEVE_ENDPOINT=https://apx.staging.didit.me/profile/v2/users/retrieve/

# redirect uri after a successful login, you need to implement this route
NEXT_PUBLIC_DIDIT_REDIRECT_URI=http://localhost:3000/callback

# verification backend
NEXT_PUBLIC_VERIFICATION_BASE_URL="https://verification.staging.didit.me"